/*
 *	RTHighlight (CSS)
 *	v0.0.1
 *	syntax hightligher (simplified)
 *	© 2014, Robin Timman
 */
 
.RTCode {
	width: 100%;
	padding-left: 15px;
	position: relative;
	border: none;
	resize: none;
	outline: none;
	overflow: auto;
	text-align: left;
	color: #000;
	font-size: 12px;
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
	border-left: 3px solid rgba(0,0,0,.5);
	/*background-color: rgba(0,0,0,.05);*/
	white-space:nowrap;
}
.rt-item-footer h4 {
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
	font-size: 12px;
	color: #000;
}
.RTCode span {
	margin: 0;
	padding: 0;
}

tb {
	width: 15px;
	display: inline-block;
}
.RTH-el {
	color: navy;
}
.rtcc-sp { color: #00f; }
.rtcc-el,
.rtcc-sp
{
	color: navy;
}
.rtcc-cn, .RTH-a {
	color: teal;
}
.rtcc-cc, .RTH-at {
	color: #dd1144;
}
.rtcc-txt {
	color: #000;
}
